[project]
	description = Mirror of Apache ODF Toolkit (incubating)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Svante (svanteschubert)
[access "refs/for/refs/*"]
	read = group user/Svante (svanteschubert)
	push = group user/Svante (svanteschubert)
	label-Code-Review = -2..+2 group user/Svante (svanteschubert)
	label-Verified = -1..+1 group user/Svante (svanteschubert)
	rebase = group user/Svante (svanteschubert)
	removeReviewer = group user/Svante (svanteschubert)
	submit = group user/Svante (svanteschubert)
[access "refs/heads/*"]
	read = group user/Svante (svanteschubert)
	create = group user/Svante (svanteschubert)
	push = +force group user/Svante (svanteschubert)
	pushMerge = group user/Svante (svanteschubert)
[access "refs/tags/*"]
	push = +force group user/Svante (svanteschubert)
	pushTag = group user/Svante (svanteschubert)
	pushSignedTag = group user/Svante (svanteschubert)
